<div class="col-md-4 col-md-offset-4">
  <h2>Edit the topic</h2>
  <hr>
  <%= form_for @group do |f| %>
  content
  <br>
  <%= f.text_field :title %>
  <br>
  discription
  <br>
  <%= f.text_area :description %>
  <br>

  <%= f.submit "submit", :disable_with => "submitting" %>
  <% end %>

</div>
